/dataset
/Users/matteo/desktop
/TensorBoard
/old_verions
.vscode
/__pycache__
/MNIST_data
/old_versions
/logdir
/.TensorFlow_Data
/image_generator_modules/__pycache__
/dataset_creator/__pycache__
/dataset_creator/DATASET
msdir/seedms
/DATASET__
Dataset_1000_0005_3000_1000.tar.gz
*.zip
1.selection.png
2.selection.png
3.selection.png
4.selection.png
5.selection.png
.Dataset_1000_0005_3000_1000.tar.gz.icloud
.DATASET.zip.icloud
*.txt
*.csv
.gitignore
